.coinInfo-header {
  display: flex;
  margin-top: 8%;
  margin-left: 10%;
}

.coin-logo img{
  margin-top: 4%;
  margin-left: 4%;
}

.coin-name {
  margin-left: 4%;
}
.main-header-div {
  margin-left: 3%;
  margin-right: 30%;
  width: 150%;
}

.main-header {
  display: flex;
  margin-left: 15%;
  padding-left: 33px;
  margin-top: 25%;
  margin-bottom: 2%;
}

.main-header-currency {
  margin-left: 2%;
  margin-top: 16%;
}

.main-price {
  margin-top: 11%;
  margin-left: 5%;
  margin-right: 20%;
}

.main-header-price {
  width: 185%;
}

.coin-user-warning {
  margin-top: -15%;
}

.coin-user-amount {
  margin-right: 20%;
}

.coin-buy-sell-button {
  margin-top: 27%;
  margin-left: 5%;
  padding-left: 22%;
}

.btn-lg .btn-group-lg > .btn {
  padding: 10px 50px;
}

.coinInfo-details-pannel {
  display: flex;
  margin-left: 25%;
}

.coin-summary-item-header {
  background-color: #f5f7f8;
  padding: 12px 12px 11px;
  border-top: none;
  border-bottom: 1px solid #e1e5ea;
  border-left: none;
  border-right: none;
  font-size: 20px;
  white-space: nowrap;
  margin-bottom: 12px;
}

.coin-summary-item-details {
  padding: 0 12px;
}

.coin-user-input {
  display: flex;
}

/* input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: black !important;
} */
