.overall{
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.87), rgba(11, 46, 141, 0.87)) !important;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    height: 400vh;
}

.searchform{
    margin-top: 0;
    margin-left: 40%;
    max-width: 300px;
    text-align: left;
    padding-top: 10%;
  }

.tableStyle{

    padding-top: 40px;
}

.tableStyle, .th-string-example {
    font-style: oblique !important;
    color: white !important;
    background-color:transparent !important;
}



.cl{
    font-size: 35px;
    padding-bottom: 5%;
    padding-left: 90px;
    padding-right: 90px;

}

#title{
    color:white !important
}

.tableStyle{
    border: 0px !important;
    padding-top: 40px;
  }
  
  .tableStyle, .th-string-example {
    font-style: oblique !important;
    color: white !important;
    background-color:transparent !important;
  }
  
  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-left: 0px solid #ddd !important;
    border-right: 0px solid #ddd !important;
    border-bottom: 1px solid rgb(124, 121, 121)  !important;
  }
  
  .table-custom {
    margin-bottom: 0px;
  }
  
  .react-bs-table-container {
    color: white;
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }
  